@charset "UTF-8";

/*para importar esa fonte abre o googlefonts escolhe a font onde aparece adiciona e depois lado direito escolhe import e copia o link*/
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {/*esse root serve para depois que for aplicar as outras fontes serve como variavel de fontes para incluir*/
  --fonte1: verdana, Geneva, tahoma, sans-serif;
  --fonte2:'Passion One', cursive;
  --fonte3:'Sriracha', cursive;
}
* {
    margin: 0px;
    padding: 0px;
  }
  /*configurações e html e body em comum*/
  html, body {
    min-height: 100vh;/*tamanho minimo da view hight(visão da altura)*/
    background-color: darkgray;
    font-family: var(--fonte1);
  }
  /*configurações no header topo do site*/
  header { 
        background-color: black;
        color: white; 
        text-align: center;
  }

  header > h1 {
    padding-top: 50px ;/*espaço em cima e duas técnicas novas para deixar letras maisuculas text-transform: uppercase; deixa tudo maiusculo e a font-variant: small-caps; elas ficam maiusculas mas discretas */
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;/*esse recurso (10vw signiifca visão de largura)serve para quando dimunuir ou aumentar no site a letra vai aumentar e diminuir automático (isso é feito pois se deixar no padrão em  quando acessar em celular a letra vai ficar muito grande*/
  }

  header {
    padding-bottom: 50px; /* para deixar o COrdel moderno no cabeçario com  50 px para cima e para baixo*/ 
  }

  header a, footer a{ /*usei a para deixar com cor branca o text-decoration com none tirar o sublinhado e font weight negritar, essa tag  com header a footer é maneira para mostrar que esta sendo modificado no cabeçalho e no ropé os links ao mesmo tempo */
    color: white ;
    text-decoration: none ;
    font-weight: bolder;
  }

  header a:hover, footer a:hover { /*aqui para quando passar o mouse no link milton duarte ele mostra o sublinhado, essa tag  com header a footer é maneira para mostrar que esta sendo modificado no cabeçalho e no ropé os links ao mesmo tempo */
    text-decoration: underline;
  }

  /*obs: nesta section as configurações de padding e line-height vão servir para todas as sections normal e imagem para distaciamento das septilhas. */
  section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 5vw;/*esse recurso (10vw signiifca visão de largura)serve para quando diminuir ou aumentar no site a letra vai aumentar e diminuir automático (isso é feito pois se deixar no padrão em  quando acessar em celular a letra vai ficar muito grande*/
  }


  /*obs quando colocar a section colocar entre header e footer para que fique no meio assim fica organizado*/
  section.normal {
    background-color: white;
    color: black;

  }

  section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
  }

  section.imagem> p{
  width: 400px;
  background-color: rgba(0, 0, 0, 0.253);    
  }

  footer { /*centralizar o link no rodapé e por as letras em branco e pasdding 10px dar distaciamento do link.*/
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
  }